body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f8e5ee;
}

h1 {
  color: #003049;
  margin-top: 300px;
  margin-left: 2rem;
}

#qr-form {
  margin-top: 30px;
}

label {
  font-weight: 500;
}

.content {
  margin-bottom: 15px;
  font-weight: 500;
}

.margin {
  margin-right: 18px;
  font-weight: 400;
}

.qr-input {
  padding: 10px;
  width: 250px;
  border-radius: 2rem;
}

.qr-input:hover {
  border-color: #3d8671;
}

#qr-result img {
  margin-top: 20px;
  border: 1px solid #231942;
  margin-left: 3.3rem;
  margin-top: 40px;
  border-radius: 0.5rem;
}

button {
  padding: 10px 10px;
  border-radius: 15px;
  background-color: #22223b;
  margin-left: 3rem;
  color: white;
  margin-top: 15px;
}

button:hover {
  cursor: pointer;
  background-color: #3d405b;
}
