* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: antiquewhite;
}

.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgb(21, 105, 138);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu input,
button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  background-color: #bce0d6;
}

.Quiz {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgb(21, 105, 138);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu,
.Quiz,
.EndScreen h1 {
  color: rgba(233, 211, 211, 0.952);
}

.Menu {
  font-size: 1.4rem;
}

.EndScreen {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgb(21, 105, 138);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nextQuestion {
  width: 200px;
  height: 50px;
  margin-top: 2.5rem;
  background-color: rgb(214, 177, 133);
}

h3 {
  color: #ffffff;
}
